*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

.main{
  height: 70vh;
  background-color: #FFCD9E;
}

.main-container{
  height: 100%;
  display: flex;
  align-items: center;
}

.left-content {
  width: 50vw;
  height: 100%;
}

.right-content {
  width: 50vw;
  height: 100%;
}

h1{
  font-weight: 700;
  color: #282828;
  font-size: 39px;
  margin-top: 35px;
  margin-left: 150px;
  line-height: 1.4;
  display: inline-block;
}

.about{
  color: #484848;
  font-weight: 500;
  display: inline-block;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 22px;
  width: 70%;
}

.para{
  font-weight: 800;
  color: #282828;
  margin-left: 150px;
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
  width: 50%;
}

.email-input {
  border: 3px solid black;
  border-radius: 5px;
  margin-left: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 50px;
  margin-top: 10px;
  color: #888888;
  font-size: 20px;
}

.submit-button {
  color: #FFFFFF;
  background-color: #282828;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 18px; 
  margin-left: 10px;
  border: 0;
}

.usage {
  color: #FFFFFF;
  margin-top: 10px;
  display: inline-block;
  width: 50%;
  margin-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  font-size: 15px;
}

.dweep-logo{
  height: 100%;
  margin-left: 100px;
}
